.ContainerNovosProfessores {
  background-color: #9df3c4;
  padding: 20px;
  text-align: center;
  font-size: large;
  display: flex;
  justify-content: center;
  padding-left: 120px;
  padding: 30px 20px;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.ContainerNovosProfessores .ContainerTexts {
  color: #0b7077;
  text-align: left;
  width: 40vw;
}

.ContainerNovosProfessores .subtitle {
  color: #1fab89;
  font-size: 15px;
  font-family: Inter ", sans-serif; ";
  font-weight: 700;
  font-style: normal;
}

.ContainerNovosProfessores .title {
  color: #0b7077;
  font-size: 30px;
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 30px;
  margin-top: -6px;
}

.Novos_professores_contactar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
