.centered-container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container img {
  display: block;
  margin: 0 auto;
  width: 140px;
}

.container h2 {
  text-align: center;
  color: #146439ef;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="button"] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff; /* Explicitly set background color */
  -webkit-box-shadow: 0 0 0px 1000px rgb(157, 243, 196) inset !important; /* Override autofill color */
  -webkit-text-fill-color: #333 !important; /* Ensure text color remains consistent */
  font-size: 15px !important;
}

.button_registrar_login {
  background-color: #808080fc;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.button_login {
  background-color: #146439ef;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.button_login:hover {
  background-color: #005cbf;
}

.Sign_modes {
  margin-top: 20px;
}

.Sign_modes img {
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s;
}

.Sign_modes img:hover {
  transform: scale(1.1);
}

.ContainerInputSenha .password-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ContainerInputSenha .password-input {
  margin: 0;
  background-color: #9df3c4;
  border: none;
  font-family: "Inter", sans-serif;
  color: cadetblue;
}

.ContainerInputSenha {
  justify-content: space-around;
  background-color: #9df3c4;
  width: 270px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  padding: 10px 20px;
}

.ContainerInputSenha .icon {
  color: #1fab89;
}

.ContainerInputSenha .fa-lock {
  margin-right: 10px;
}

.fa-eye,
.fa-eye-slash {
  margin-left: 10px;
}
