.Cabecalho {
  background-color: #9df3c4;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100px;
  margin-bottom: 150px;
  align-items: center;
}

.Cabecalho img {
  width: 145px;
  height: 200px;
  margin-left: 120px;
}

.Cabecalho__acessos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
}
.Controle_Usuario {
  padding-right: 70px;
  display: flex;
}

.Controle_Usuario button {
  font-family: "Inter", sans-serif; /* Corrigido o erro de escrita */
  border: none;
  padding: 15px 40px;
  margin: 0 10px;
  border-radius: 20px;
}

.Controle_Usuario button:hover {
  background-color: #005cbf;
}

.login {
  color: #0b7077;
  background-color: #d7fbe8;
}

.cadastro {
  background-color: #1fab89;
}
