.ContainerVideo {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
}

.Video {
    background: #dfdfdf;
    padding: 32px;
    border-radius: 25px;
    margin-bottom: 25px; 
}

.divisor {
    width: 80%;
    height: 2px;
    background: #00000042;
    border-radius: 97px;
    margin-bottom: 35px;
}
