body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="submit"]:focus,
input[type="button"]:focus {
  outline: none;
}
